* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: #333;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #00bf78;
}

/* header */

.header {
  background: url("./images/header/background.png");
}

.container__header {
  max-width: 1110px;
  margin: 0 auto;
}

/* navigation-block */

.navigation__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/* logo */

.header__logo {
  font-size: 24px;
  font-weight: 700;
  transition: 1s;
}
.header__logo:hover {
  transform: scale(1.03);
}

/* navigation link  */

.navigation__list {
  display: flex;
  list-style: none;
  gap: 0 28px;
}

.navigation__link {
  font-size: 14px;
  font-weight: 500;
}

.navigation__item:hover {
  transform: scale(1.01);
}

/* header-contact */

.header__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact__number {
  font-size: 18px;
  font-weight: 500;
  gap: 8px 0;
}

.contact__description {
  font-size: 11px;
  font-weight: 400;
}

/* header-content */

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 525px;
}

.header__main {
  display: flex;
  flex-direction: column;
  width: 540px;
  gap: 16px 0;
  transition: 1s;
}
.header__main:hover {
  transform: scale(1.01);
}

.header__title {
  font-size: 48px;
  font-weight: 600;
}

.header__desc {
  font-size: 20px;
  font-weight: 400;
}

.header__btn {
  background-color: #fb9475;
  color: white;
  width: fit-content;
  padding: 17px 30px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  margin-top: 40px;
  transition: 1s;
}

.header__btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

/* header-image */

.header__image {
  width: 524px;
  height: 510px;
  position: relative;
}

.image__girl {
  position: absolute;
  margin-left: -50px;
  margin-top: 7px;
}

.header__image:hover:before {
  transform: scale(1.05);
  opacity: 0.85;
}

.header__image::before {
  content: "";
  background-image: url("./images/header/girlBG.png");
  background-repeat: no-repeat;
  width: 472px;
  height: 400px;
  position: absolute;
  margin-top: 120px;
  transition: 1s;
}

/* header-icons */

.social__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
}
.social__icons > img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* section */

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  margin: 40px auto;
}

.section__content {
  display: flex;
}

.section__main {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.section__title {
  font-size: 48px;
  font-weight: 700;
}

.section__desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 20px;
}

.section__p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 20px;
}

/* section image */

.section__image {
  position: relative;
  width: 450px;
  height: 300px;
  margin-top: 95px;
}

.image__salon {
  position: absolute;
}

.section__image::after {
  content: "Короткое видео о нас";
  background-image: url("./images/section/iconPlay.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 240px;
  height: 110px;
  position: absolute;
  margin-left: 105px;
  text-align: center;
  padding-top: 180px;
  color: #fff;
  transition: 1s;
}

.section__image:hover::after {
  transform: scale(1.05);
}

/* advantages */

.advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  margin: 30px auto 10px auto;
}

.advantages__content {
  display: flex;
  align-items: center;
  min-height: 300px;
  margin: 0 20px;
  gap: 0 90px;
}

.advantages__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}

.advantages__main:hover {
  transform: scale(1.05);
}

.advantages__desc {
  font-size: 18px;
  font-weight: 600;
}

.advantages__p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

/* advantages image */

.advantages__main > img:hover {
  transform: scale(1.05);
  transition: 1s;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  margin-bottom: 0;
  margin: 0 auto;
}

.footer__desc {
  font-size: 12px;
  font-weight: 400;
}

.politic {
  color: var(--Link, #278aff);
  font-size: 12px;
  font-weight: 400;
}
.politic:hover {
  color: var(--Link, #000000);
}
