@import "./_variables.scss";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  color: $font-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.section {
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
}

a {
  color: $font-color;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #00bf78;
}

.btn {
  background-color: #fb9475;
  color: white;
  width: fit-content;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: 1s;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
